<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learn To Play</title>
    <link href="https://fonts.googleapis.com/css?family=Jockey+One" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <link rel="icon" type="image/png" href="images/OtherAssets/DL_ICON.png">
</head>
<body>
    <!-- Header -->
    <div class="TopBar_Rectangle">
        <a href = "#"><img class = "DL_ICON" Id="DL_ICON" src = "images/OtherAssets/DL_ICON.png" alt = "DL_ICON"></a>
        <div class="HeaderTextDiv">
            <% if (loggedIn) { %>
                <h1 class="HeaderText PlayNowPos" id="Lobby">PLAY NOW</h1>
            <% } else { %>
                <h1 class="HeaderText PlayNowPos" id="LoginBox">PLAY NOW</h1>
            <% } %>
            <h1 class="HeaderText LearnNowPos" id="LtoP">LEARN TO PLAY</h1>
            <h1 class="HeaderText GallaryPos" id="gallery">GALLERY</h1>
        </div>
        <% if (loggedIn) { %>
            <div id="LoginBox" class="UsernameHeaderTxt"><h1 class="HeaderText"><%= username %></h1></div>
        <% } else { %>
            <div class="LoginBox" id="LoginBox"><h1 class="HeaderText LoginTxt">LOGIN</h1></div>
        <% } %>
    </div>

    <!-- body content -->

    <div class="BodyContents">
    <a href = "#"><img class = "RagnarImage" src = "/images/OtherAssets/Ragnar.png" alt = "Ragnar Image"></a>
    <a href = "#"><img class = "VeronaImage" src = "/images/OtherAssets/Character_Verona_Halfbody.png" alt = "Verona Image"></a>
    <a href = "#"><img class = "WilliamImage" src = "/images/OtherAssets/Character_William_Halfbody.png" alt = "William Image"></a>
    <a href = "#"><img class = "DurosImage" src = "/images/OtherAssets/Character_Duros_Halfbody.png" alt = "Duros Image"></a>
    <div class="HowToPlayDiv">
        <div class = "HeaderText L2PSectionHead">THE RULES OF DEVIL'S LUCK</div>
        <div class = "HeaderText NoUnderline ShadowForText">Devil's Luck is a game that consists of up to 3 rounds, and is best 2 out of 3. A player wins a round by having the most points on the board at the end of a round. A player wins by winning 2 rounds.</div>
        <div class = "HeaderText L2PSectionHead">EACH ROUND CONSISTS OF TWO STEPS: SETUP AND COMBAT</div>
        <div class = "HeaderText NoUnderline ShadowForText TextLeftAlign">SETUP</div>
        <div class = "HeaderText NoUnderline ShadowForText">Each player simultaneously places 4 cards from their hand face-down in a line in front of them. Once both players are happy with their decision, the combat phase begins.</div>
        <div class = "HeaderText NoUnderline ShadowForText TextLeftAlign">COMBAT</div>
        <div class = "HeaderText NoUnderline ShadowForText">Both players count down from 3, and at the end of the countdown, each player chooses one of their face-down cards and flips them face up - triggering any effects the cards have. Once the card effects have resolved, repeat this step until both players have revealed 3 of their 4 face-down cards. The player with the most points wins the round. If there is a tie, both players win the round. The players return the remaining face-down card to their hand and all used cards go to the graveyard.</div>
        <div class = "HeaderText L2PSectionHead">TO GLORY</div>
        <div class = "HeaderText NoUnderline ShadowForText">Both players draw a card from the top of the deck (loser first) and then begin the next round. Repeat this until the best of 3 is over and a winner is decided.</div>
        <div class = "HeaderText L2PSectionHead">SUDDEN DEATH</div>
        <div class = "HeaderText NoUnderline ShadowForText">In the event that the game reaches round 3, this is considered SUDDEN DEATH and the remaining 3 cards in hand must be used for the set up step.</div>
        <div class = "HeaderText L2PSectionHead">CARD TYPES</div>
        <div class = "HeaderText NoUnderline ShadowForText">There are two main types of cards: Fighters and Supports.</div>
        <div class = "HeaderText NoUnderline ShadowForText">Cards will also have a 'Faction* (Eg. Marine, Independent)</div>
        <div class = "HeaderText NoUnderline ShadowForText TextLeftAlign">FIGHTER CARDS</div>
        <div class = "HeaderText NoUnderline ShadowForText">Fighter cards are the main source of points in the game. Fighter cards will have a power value which represents the amount of points the card is worth, this is shown on the bottom right of the card. Every Fighter card will also have a (Sword) or (Lightning bolt) symbol, these represent 'Might' and 'Mind' respectively and may be relevant to some card abilities. This is shown on the bottom left of the card. Some Fighter cards will also have abilities. The ability will be explained in the text box of the card.</div>
        <div class = "HeaderText NoUnderline ShadowForText TextLeftAlign">SUPPORT CARDS</div>
        <div class = "HeaderText NoUnderline ShadowForText">Support cards do not have a power value, but instead have powerful abilities that can help gain more points.</div>
        <div class = "HeaderText L2PSectionHead">ABILITIES</div>
        <div class = "HeaderText NoUnderline ShadowForText">Cards are being 'FLIPPED' if they are currently being flipped face-up. Cards are 'ON THE BOARD' if they have already been flipped face-up. The order in which card abilities activate are:</div>
        <div class = "HeaderText NoUnderline ShadowForText TextLeftAlign">WHEN THIS CARD IS FLIPPED</div>
        <div class = "HeaderText NoUnderline ShadowForText">If a card has this trigger, the ability activates the moment the card is flipped. Abilities that target 'FLIPPED cards always take priority over abilities that target 'ON THE BOARD' or other cards. Abilities that destroy cards always take priority over non-destruction based abilities.</div>
        <div class = "HeaderText NoUnderline ShadowForText TextLeftAlign">WHLIST THIS CARD IS ON THE BOARD</div>
        <div class = "HeaderText NoUnderline ShadowForText">If a card has this trigger, it activates after it has been flipped and the effect is lost if the card is destroyed.</div>
        <div class = "HeaderText NoUnderline ShadowForText TextLeftAlign">AT THE END OF THE ROUND</div>
        <div class = "HeaderText NoUnderline ShadowForText">If a card has this trigger, it only resolves once you begin point calculation.</div>
    </div>
    </div>

    <script src="index.js"></script>
</body>
</html>
