body{
    padding-top: 15vh;
    margin: 0;
    min-height: 85vh;
    }
      
html {
    width: 100%;
    min-height: 100%; /* Ensure at least full viewport height */
    background: linear-gradient(180deg, #3F3F49 25.32%, #1A1A1A 100%);
    background-attachment: fixed; /* Keep the gradient fixed */
    background-repeat: no-repeat; /* Prevent background from repeating */
    background-size: cover; /* Ensure background covers the entire element */
}

.BodyContents {
    position: relative;
    width: auto;
    height: 85%;
    bottom: 0px;
}
    
.TopBar_Rectangle{
position: fixed;
display: flex;
width: 100vw;
height: 15vh;
left: 0px;
top: 0px;

background: #2D2D2D;
box-shadow: 0px 10px 17px rgba(0, 0, 0, 0.5);
border-radius: 0px 0px 15px 15px;
z-index: 1000;
}
    
.HeaderText{
    font-family: 'Jockey One';
    font-style: normal;
    font-weight: 400;
    font-size: 2.2rem;
    line-height: 130%;
    text-decoration: underline;
    display: inline-flex;
    text-align: center;
    color: #D8762C;
    align-items: center;
    }

.PlayNowPos{
    width: auto;
    margin-left: 17.8%;
}

.LearnNowPos{
    width: auto;
    margin-left: 6.5%;
}
.GallaryPos{
    width: auto;
    margin-left: 6.5%;
}

.DL_ICON {
    float: left;
    left: 2.8%;
    height: 90%;
    top: 0px;
    z-index: 10;
}

.LoginBox{
    box-sizing: border-box;
    margin-left: 17.5%;
    width: 7.9%;
    height: 7.5vh;
    display: inline-flex;
    background: #2D2D2D;
    border: 5px solid #D8762C;
    border-radius: 20px;
    margin-top: auto;
    margin-bottom: auto;
}

.LoginTxt{
    text-decoration: none !important;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
}

.DanImage {
    position: fixed;
    float: left;
    left: -1%;
    height: 84Vh;
    bottom: 0;
    z-index: 10;
}

.DanSeal {
    position: fixed;
    float: right;
    height: 33.94vh;
    right: 5%;
    bottom: 40px;
    z-index: 10;
    transform: rotate(63.5deg);
}


.TxtScript {
    position: fixed;
    display: inline-block;
    margin-top: 17vh;
    margin-left: 32vw;
    margin-right: 19vw;
    transform: rotate(8.27deg);
}

.QuoteTxt{
    text-decoration: none !important;
    padding-bottom: 5%;
    font-size: 1.9rem !important;
}