/* Customizes the whole scrollbar */
::-webkit-scrollbar {
    width: 12px; /* Adjust the width of the scrollbar */
}

/* Customizes the scrollbar track */
::-webkit-scrollbar-track {
    background: #545463; /* Color of the track */
}

/* Customizes the scrollbar thumb */
::-webkit-scrollbar-thumb {
    background: #D8762C; /* Color of the thumb */
    border-radius: 10px; /* Rounded corners for the thumb */
}

/* Optionally, style the thumb on hover */
::-webkit-scrollbar-thumb:hover {
    background: #bf6d29; /* Slightly darker shade of the thumb color for hover effect */
}

body{
    padding-top: 15vh;
    margin: 0;
    min-height: 85vh;
    }
      
html {
    width: 100%;
    min-height: 100vh; /* Ensure at least full viewport height */
    background: linear-gradient(180deg, #3F3F49 25.32%, #1A1A1A 100%);
    background-attachment: fixed; /* Keep the gradient fixed */
    background-repeat: no-repeat; /* Prevent background from repeating */
    background-size: cover; /* Ensure background covers the entire element */
}

.BodyContents {
    position: relative;
    width: auto;
    height: 85%;
    bottom: 0px;
}
    
.TopBar_Rectangle{
position: fixed;
display: flex;
width: 100vw;
height: 15vh;
left: 0px;
top: 0px;

background: #2D2D2D;
box-shadow: 0px 10px 17px rgba(0, 0, 0, 0.5);
border-radius: 0px 0px 15px 15px;
z-index: 1000;
}
    
.HeaderText{
    font-family: 'Jockey One';
    font-style: normal;
    font-weight: 400;
    font-size: 2.2rem;
    line-height: 130%;
    text-decoration: underline;
    display: inline-flex;
    text-align: center;
    color: #D8762C;
    align-items: center;
    cursor: pointer;
    }

.PlayNowPos{
    width: auto;
}

.LearnNowPos{
    width: auto;
    margin-left: 15vw;
    margin-right: 15vw;
}
.GallaryPos{
    width: auto;
}

.HeaderTextDiv{
    display: flex;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.DL_ICON {
    position: absolute;
    float: left;
    height: 90%;
}

.LoginBox{
    position: absolute;
    display: flex;
    right: 2vw;
    box-sizing: border-box;
    width: 8vw;
    height: 7.5vh;
    background: #2D2D2D;
    border: 5px solid #D8762C;
    border-radius: 20px;
    margin-top: auto;
    transform: translateY(50%);
    margin-bottom: auto;
}

.LoginTxt{
    text-decoration: none !important;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
}

.DanImage {
    position: fixed;
    float: left;
    left: -1%;
    width: 29vw;
    bottom: -16.3%;
    z-index: 10;
}

.DanSeal {
    position: fixed;
    float: right;
    height: 33.94vh;
    right: 5%;
    bottom: 40px;
    z-index: 10;
    transform: rotate(63.5deg);
}


.TxtScript {
    position: relative;
    display: flex;
    margin-top: 17vh;
    margin-left: 32vw;
    margin-right: 19vw;
    transform: rotate(8.27deg);
    flex-direction: column;
}

.QuoteTxt{
    text-decoration: none !important;
    padding-bottom: 5%;
    font-size: 1.9rem !important;
}

/* LoginScreenCSS */
.LoginDiv{
    display: flex;
    height: 85vh;
    width: 50vw;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: absolute;
}
.NoUnderline{
    text-decoration: none !important;
}
.vertical-bar {
    width: 5px;
    height: 65vh;
    position: fixed;
    bottom: 12.5vh;
    left: 50vw;
    background: #D8762C;
    border-radius: 25%;
    transform: translateX(-50%);
}

.LoginScreenInputField{
    width: 100%;
    height: 7.3vh;
    border-radius: 15px;
    background-color: #545463;
    border: 0;
    font-family: 'Jockey One';
    font-style: normal;
    font-weight: 400;
    font-size: 2.2rem;
    line-height: 130%;
    color: #fff;
}

.LoginForm{
    width: 80%;
}

.LoginSubmitButton{
    display: flex;
    width: fit-content;
    height: 7.3vh;
    border-radius: 35px;
    background-color: #D8762C;
    border: 10px;
    border: 5px solid #fff;
    font-family: 'Jockey One';
    font-style: normal;
    font-weight: 400;
    font-size: 2.2rem;
    line-height: 130%;
    color: #fff;
    flex-direction: column;
    justify-content: center;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 5%;
    margin-bottom: 10%;
}

.NewUserPOS{
    left: auto !important;
    right: 0;
}

/* Learn To Play Styles */
.RagnarImage{
    position: fixed;
    float: left;
    left: -8%;
    height: 55%;
    bottom: 0%;
    z-index: 1;
}

.VeronaImage{
    position: fixed;
    float: left;
    left: 8%;
    height: 53%;
    bottom: 0%;
    z-index: 2;
}

.WilliamImage{
    position: fixed;
    float: right;
    right: -4%;
    height: 53%;
    bottom: 0%;
    z-index: 2;
}

.DurosImage{
    position: fixed;
    float: right;
    right: 4%;
    height: 56%;
    bottom: 0%;
    z-index: 1;
    transform: scaleX(-1);
}

.HowToPlayDiv{
    display: flex;
    position: absolute;
    width: 90%;
    z-index: 5;
    flex-direction: column;
    align-items: center;
    margin-left: 5%;
    margin-top: 5%;
}

.L2PSectionHead{
    font-size: 64px!important;
    text-shadow: 4px -8px 7px rgba(0, 0, 0, 0.5);
    margin-bottom: 25px;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    border-bottom: 5px solid #D8762C;
    text-decoration: none!important;
    box-shadow: 0 10px 6px -6px rgba(0, 0, 0, 0.5);
}

.ShadowForText{
    text-shadow: 4px -8px 7px rgba(0, 0, 0, 0.5);
    margin-bottom: 80px;
}

.TextLeftAlign{
    text-align: left!important;
    display: flex;
    width: 100%;
    padding-left: 2%;
}

/* Table Styles */
table {
    border-spacing: 0;
    border-collapse: separate;
    width: 100%;
    margin-bottom: 25px;
  }
  
  td {
    border: 1px solid #D8762C;;
    text-align: left;
    padding: 8px;
    height: 7.3vh;
    font-family: 'Jockey One';
    font-style: normal;
    font-weight: 400;
    font-size: 2.2rem;
    line-height: 130%;
    color: #fff;
  }
  th {
    /* border: 1px solid #D8762C; */
    padding: 8px;
    text-align: center;
    padding: 8px;
    height: 7.3vh;
    font-family: 'Jockey One';
    font-style: normal;
    font-weight: 400;
    font-size: 2.2rem;
    line-height: 130%;
    color: #D8762C;
    
  }
  
  tr:nth-child(even) {
    background-color: #545463;
  }
  tr:nth-child(odd) {
    background-color: #545463;
  }

/* Gallery */

.GalleryDiv{
    /* background-color: #545463;
    border-radius: 15px; */
    width: 85vw;
    height: fit-content;
    margin-top: 5vh;
    margin-left: 7.5vw;
}

td img {
    display: block;
    max-width: 100px; /* Or whatever size you prefer */
    height: auto;
}

.might-mind-icon {
    display: inline-block;
    margin-left: 5px;
    vertical-align: middle;
    height: 45px;
}

table tr:last-child td:first-child {
    border-bottom-left-radius: 20px!important;
    border-collapse: separate;
}
    
table tr:last-child td:last-child {
    border-bottom-right-radius: 20px!important;
} 

table tr:first-child th:first-child{
    border-top-left-radius: 20px!important;
}
table tr:first-child th:last-child{
    border-top-right-radius: 20px!important;
}