<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GameRoom</title>
    <link href="https://fonts.googleapis.com/css?family=Jockey+One" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" type="image/png" href="/images/OtherAssets/ DL_ICON.png">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.0.2/papaparse.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
</head>
<body>
    <!-- <h1 class="HeaderText">TestText</h1>
    <button id="colorChangeButton" onclick="changeColor()" style="padding: 10px; font-size: 16px;">Change Color</button> -->
    <div class="game-field">
      <!-- Opponent's Cards (Upside Down) -->
      <% for(let i = 0; i < 4; i++) { %>
        <div class="card opponent" style="background-image: url('/images/Cardback.png');"></div>
      <% } %>
      <!-- Player's Cards -->
      <% for(let i = 0; i < 4; i++) { %>
        <div class="card" style="background-image: url('/images/Cardback.png');"></div>
      <% } %>
    </div>
    
    <div class="hand">
    </div>
    <button id="dealCardButton" style="position: absolute; top: 10px; right: 10px;">Deal Card</button>
        
    <script src="/js/index.js"></script>
</body>
</html>