<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link href="https://fonts.googleapis.com/css?family=Jockey+One" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <link rel="icon" type="image/png" href="images/OtherAssets/DL_ICON.png">
</head>
<body>
        <!-- Header -->
        <div class="TopBar_Rectangle">
            <a href = "#"><img class = "DL_ICON" Id="DL_ICON" src = "images/OtherAssets/DL_ICON.png" alt = "DL_ICON"></a>
            <div class="HeaderTextDiv">
                <% if (loggedIn) { %>
                    <h1 class="HeaderText PlayNowPos" id="Lobby">PLAY NOW</h1>
                <% } else { %>
                    <h1 class="HeaderText PlayNowPos" id="PlayNowLogin">PLAY NOW</h1>
                <% } %>
                <h1 class="HeaderText LearnNowPos" id="LtoP">LEARN TO PLAY</h1>
                <h1 class="HeaderText GallaryPos" id="gallery">GALLERY</h1>
            </div>
            <% if (loggedIn) { %>
                <div id="LoginBox" class="UsernameHeaderTxt"><h1 class="HeaderText"><%= username %></h1></div>
            <% } else { %>
                <div class="LoginBox" id="LoginBox"><h1 class="HeaderText LoginTxt">LOGIN</h1></div>
            <% } %>
        </div>

        <% if (loggedIn) { %>
            <!-- logout Button -->
            <div class="BodyContents">
                <form class="LogoutForm" action="/logout" method="GET">
                    <input type="submit" value="LOG OUT" class="LoginSubmitButton">
                </form>
            </div>
        <% } else { %>



            <!-- Login -->
            <div class="LoginDiv">
                <h1 class="HeaderText">LOGIN</h1>
                <form class="LoginForm" action="/login" method="POST">
                    <label class="HeaderText NoUnderline" for="fname">USERNAME</label><br>
                    <input class="LoginScreenInputField" type="text" id="lusername" name="username" value=""><br>
                    <label class="HeaderText NoUnderline" for="lname">PASSWORD</label><br>
                    <input class="LoginScreenInputField" type="password" id="lpassword" name="password" value=""><br>
                    <input type="submit" value="SUBMIT" class="LoginSubmitButton">
              </form>
              <% if (errorMessage) { %>
                <h1 class ="errorText">***Invalid username or password. Please Try again.***</h1>
            <% } %>
            </div>
    
            <div class="vertical-bar"></div>
            <!-- NewUser -->
            <div class="LoginDiv NewUserPOS">
                <h1 class="HeaderText">NEW USER</h1>
                <form class="LoginForm" action="/create-user" method="POST">
                    <label class="HeaderText NoUnderline" for="fname">USERNAME</label><br>
                    <input class="LoginScreenInputField" type="text" id="nusername" name="username" value=""><br>
                    <label class="HeaderText NoUnderline" for="lname">PASSWORD</label><br>
                    <input class="LoginScreenInputField" type="password" id="npassword" name="password" value="">
                    <input type="submit" value="SUBMIT" class="LoginSubmitButton">
              </form>
              <% if (existingUserError) { %>
                <h1 class ="errorText">***User already exist. Please Try again.***</h1>
            <% } %>
            </div>
        <% } %>
        <script src="index.js"></script>
</body>
</html>
